@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
  --fluorescent-blue: #34f6f2ff;
  --eerie-black: #262322ff;
  --paradise-pink: #ef476fff;
  --alice-blue: #eef8ffff;
  --slate-blue: #7d53deff;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main-container .title-container {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-blue);
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--alice-blue);
  margin: 0;
  padding-bottom: 5px;
  border-bottom: solid;
  border-color: var(--eerie-black);
  border-width: 1px;
}

.content-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--alice-blue);
  display: flex;
  flex-direction: column;
}

.content-container .object-control-container {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 35px);
  height: 500px;
  border: solid;
  border-color: var(--eerie-black);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e5ddf8;
}

.content-container .object-control-container .range {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  height: 40px;
  width: calc(100% - 120px);
  background-color: var(--alice-blue);
  border-radius: 10px;
  padding: 0 65px 0 45px;
  text-align: center;
  place-items: center;
}
.content-container .object-control-container .range .height-slider-label {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  background-color: var(--slate-blue);
  color: var(--eerie-black);
  border-right: solid 1px var(--eerie-black);
  border-left: solid 1px var(--eerie-black);
  border-bottom: solid 1px var(--eerie-black);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content-container .object-control-container .range .slider-value {
  position: relative;
  width: 100%;
}

.content-container .object-control-container .range .slider-value span {
  position: absolute;
  height: 30px;
  width: 30px;
  color: var(--alice-blue);
  font-weight: 500;
  top: -35px;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  line-height: 35px;
  z-index: 2;
}

.content-container .object-control-container .range .slider-value span.show {
  transform: translateX(-50%) scale(1);
}

.content-container .object-control-container .range .slider-value span:after {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  background: var(--slate-blue);
  transform: translateX(-50%) rotate(45deg);
  border: 3px solid var(--eerie-black);
  z-index: -1;
  left: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.content-container .object-control-container .range .field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-container .object-control-container .range .field .value {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: var(--eerie-black);
}
.content-container .object-control-container .range .field .value.left {
  left: -22px;
}
.content-container .object-control-container .range .field .value.right {
  right: -43px;
}
.content-container .object-control-container .range .field input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearanca: none;
  appearance: none;
  height: 3px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.content-container .object-control-container .range .field input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: var(--slate-blue);
  border-radius: 50%;
  border: 1px solid var(--eerie-black);
  cursor: pointer;
}

.content-container .object-control-container .switch-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 97%;
  height: 40px;
  background-color: var(--slate-blue);
  padding-left: 10px;
  border-radius: 5px;
  border: solid 1px var(--eerie-black);
  margin-bottom: 5px;
}
.content-container .object-control-container .switch-container.speed {
  width: calc(100% - 10px);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  height: 100px;
  align-items: flex-start;
  flex-direction: column;
}

.content-container .object-control-container .switch-container .switch-text {
  margin-left: 10px;
}

.content-container .object-control-container .button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
}

#sketch-holder {
  align-self: center;
  height: 530px;
  width: 350px;
  margin-top: 10px;
  border: solid 2px var(--eerie-black);
}

#planet-selector {
  padding-right: 5px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px;
  height: (100%-10px);
  width: calc(100% - 35px);
  border: solid;
  border-color: var(--eerie-black);
  border-width: 1px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #e5ddf8;
}

.planet-container {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.planet-data {
  margin-top: 6px;
  letter-spacing: 3px;
  margin-left: 25px;
  display: flex;
  width: 340px;
  flex-direction: column;
}
.planet-icon {
  width: 50px;
  height: 50px;
  border: solid 6px transparent;
  border-radius: 50px;

  transition: border 0.3s ease-in-out;
}
.planet-icon:hover {
  border: solid 6px var(--slate-blue);
  border-radius: 50px;
}
.planet-icon.selected {
  border: solid 6px var(--paradise-pink);
  border-radius: 50px;
}
.content-title {
  padding-top: 5px;
  margin-right: -10px;
  margin-left: -10px;
  background-color: var(--slate-blue);
  width: calc(100% + 20px);
  height: 50px;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center;
  color: var(--alice-blue);
}

.switch-container .speed {
  margin: 0px;
  width: 100%;
}

/* Custom Switches */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--paradise-pink);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--paradise-pink);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
/*  --- */

.custom-button {
  letter-spacing: 4px;
  width: 150px;
  height: 45px;
  border: none;
  color: var(--eerie-black);
  background-color: var(--slate-blue);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 var(--slate-blue);
  transition: ease-out 0.2s;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.custom-button:hover {
  box-shadow: inset 150px 0 0 0 var(--paradise-pink);
}

.custom-button.r {
  background-color: grey;
  box-shadow: inset 0 0 0 0 var(--paradise-pink);
}

.custom-button.r:hover {
  box-shadow: inset 150px 0 0 0 var(--paradise-pink);
}

.object-mass{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 20px);
}

.object-mass input{
  height: 30px;
  width: 100%;
}

.initial-velocity{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 10px;
}

.initial-velocity input{
  height: 30px;
  margin-bottom: 5px;
}

.forms-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.forms-text{
  font-weight: 200;
  margin-top: 0;
  text-align: center;
}

.custom-button.g {
  background-color: var(--eerie-black);
  box-shadow: inset 0 0 0 0 grey;
  letter-spacing: 4px;
  width: 350px;
  height: 50px;
  border: none;
  color: var(--fluorescent-blue);
  border-radius: 4px;
  transition: ease-out 0.2s;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.custom-button.g:hover{
  box-shadow: inset -350px 0 0 0  grey;
}